@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-bold', sans-serif;
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-medium', sans-serif;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Arial', sans-serif;
    src: url(../fonts/ARIAL.TTF);
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Medium.ttf);
}