:root {
    --small-fs: 16px;
    --average-fs: 18px;
    --medium-fs: 21px;
    --large-fs: 26px;
    --xlarge-fs: 79px;
    --line-height: 37px;
    --small-line-height: 22px;
    --white: #ffffff;
    --light-grey: #8D8D8D;
    --dark-grey: #1a1a1b;
    --header-color: #303134;
    --font-family-sans: 'Raleway', sans-serif;
    --font-family-weight: bold;
    --font-family-weight-medium: 500;
}

body {
    max-width: 1360px;
}

.container {
    max-width: 1360px;
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 33px;
}

header nav .nav-menu {
    display: flex;
    gap: 45px;
}

header nav .nav-menu .nav-li a {
    font-family: var(--font-family-sans);
    font-size: var(--small-fs);
    line-height: var(--line-height);
    color: var(--header-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

header nav .nav-menu .nav-li a:hover {
    filter: drop-shadow(3px 3px 6px #2af598);
}


header nav .burger {
    display: none;
    cursor: pointer;
}

header nav .burger>.line {
    width: 32px;
    height: 2px;
    background: #2af598;
    margin: 0.5rem 0;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.about-us {
    display: flex;
    flex-direction: column;
}

.about-us>span {
    font-family: var(--font-family-sans);
    font-size: var(--average-fs);
    text-transform: capitalize;
    line-height: var(--small-line-height);

}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-wrapper {
    background-image: url(../images/main-img/company.jpg);
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-family: var(--font-family-sans);
    font-size: var(--large-fs);
    color: var(--header-color);
    text-transform: uppercase;
}


.slider {
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-bottom: 50px;
}

.slide {
    max-width: 1360px;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
}

.slide-img::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    background: linear-gradient(-2deg,
            #08aeea 0.00%,
            #2af598 100.00%);
}

.slide-img>img {
    height: 100vh;
}

.img-content {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    position: relative;

}

.btn {
    position: absolute;
    width: 33px;
    height: 33px;
    z-index: 10px;
    cursor: pointer;
    background-color: var(--white);
    filter: drop-shadow(0px 0px 10px rgba(101, 101, 101, 0.2));
}

.btn:hover {
    background: linear-gradient(-2deg,
            #08aeea 0.00%,
            #2af598 80.00%);
    transform: scale(1.5);
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 47%;
    left: 5%;
}

.btn-next {
    top: 47%;
    right: 5%;
}

.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-banner-discreption {
    position: absolute;
    width: 100%;
    bottom: 32%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}



.slide-banner-price>span {
    font-family: var(--font-family-sans);
    font-size: var(--medium-fs);
    font-weight: var(--font-family-weight);
    color: #006CD1;
}

.slide-banner-discreption>h2 {
    font-family: 'Arial', sans-serif;
    font-size: var(--xlarge-fs);
    line-height: 53px;
    color: var(--white);
    text-transform: uppercase;
}

.banner-text {
    font-family: var(--font-family-sans);
    font-size: var(--average-fs);
    line-height: var(--line-height);
    color: var(--white);
    text-transform: uppercase;
}

.services-wrapper>h2,
.section-main-title>h2 {
    color: var(--light-grey);
}

.title {
    font-family: var(--font-family-sans);
    font-size: var(--small-fs);
    line-height: var(--line-height);
    text-transform: uppercase;
}

.subtitle {
    font-family: var(--font-family-sans);
    font-size: var(--large-fs);
    line-height: var(--line-height);
    color: var(--dark-grey);
    text-transform: capitalize;
}

.services-wrapper .left-services-wrapper>p {
    width: 242px;
    font-family: var(--font-family-sans);
    font-size: var(--small-fs);
    font-weight: var(--font-family-weight-medium);
    color: var(--light-grey);

}

.left-services-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.modal-card {
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    padding: 30px 100px 30px 100px;
    filter: drop-shadow(2px 4px 6px #302929);
}


.modal-card>img {
    /* max-width: 450px; */
    width: 100%;
}


.modal-card>h3 {
    font-size: 20px;
    font-family: var(--font-family-sans);
    color: var(--dark-grey);
    margin: 15px 0;

}

.modal-card>p {
    font-family: var(--font-family-sans);
    line-height: var(--small-line-height);
    font-size: 18px;
    color: var(--light-grey);
}


.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    color: var(--dark-grey);
    cursor: pointer;
}


.covered {
    display: none;
}

.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    z-index: 99;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 4px 6px black);
    backdrop-filter: blur(5px);
    z-index: 1;
}

#card-title {
    font-family: var(--font-family-sans);
    font-size: var(--average-fs);
    line-height: var(--small-line-height);
    color: var(--dark-grey);
}

#card-content {
    width: 268px;
    font-family: var(--font-family-sans);
    font-size: var(--small-fs);
    font-weight: var(--font-family-weight-medium);
    line-height: var(--small-line-height);
    color: var(--light-grey);
}

#card-img {
    width: 269px;
    height: 181px;
}

.right-services-card {
    gap: 26px;
}

.card-discreption {
    gap: 12px;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.right-services-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    margin-bottom: 50px;
}

.video-tour-wrapper-top:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.80;
    background: #000000;
}

.video-tour-wrapper-top .video-tour-title>h2,
.video-tour-wrapper-top .video-tour-title>h3 {
    color: var(--white);
}

.video-tour-wrapper-top {
    position: relative;
    margin-bottom: 110px;
    background-image: url(../images/main-img/beach.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.video-tour-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

video {
    position: absolute;
    max-width: 60%;
    max-height: 60%;
    width: max-content;
    height: max-content;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.video-tour-wrapper-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tour-card>span {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: var(--small-line-height);
    color: var(--dark-grey);
    margin-top: 24px;
}

.tour-card>h4 {
    font-family: var(--font-family-sans);
    font-size: var(--small-fs);
    line-height: var(--small-line-height);
    color: var(--dark-grey);
    text-transform: uppercase;
    text-align: center;
}

.tour-card {
    gap: 4px;
    justify-content: center;
}

.section-main-title {
    text-align: center;
    margin: 67px 71px;
}

.border {
    border-top: 1px solid #8D8D8D;
    margin: 60px 0 60px;
}

.package-card div>img {
    max-width: 267px;
    width: 100%;
    height: 246px;
    object-fit: cover;
}

.package-card {
    border: 1px solid #dedada;
    filter: drop-shadow(0px 0px 6px rgba(101, 101, 101, 0.2));
    padding: 0 0 20px;
}

.package-card .package-card-content {
    gap: 3px;
    padding-top: 15px;
}

.package-card-content>span {
    font-family: var(--font-family-sans);
    font-size: 14px;
    font-weight: 500;
    counter-reset: var(--dark-grey);
}

.package-card-content>p {
    font-family: var(--font-family-sans);
    font-size: var(--average-fs);
    font-weight: 500;
    line-height: var(--line-height);
    color: #4b54fa;
}

.tour-package-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 67px;
}

.package-card-title {
    font-family: var(--font-family-sans);
    font-size: 14px;
    line-height: var(--line-height);
    color: var(--dark-grey);
    text-transform: uppercase;
    background: yellow;
    width: 98px;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 2%;
}

.email-wrapper {
    background-image: url(../images/main-img/surfing.png);
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: center center;
    position: relative;
}

.email-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.80;
    background: linear-gradient(-1deg,
            #08aeea 0.00%,
            #2af598 100.00%);
}

.email-wrapper .email-title>h3 {
    font-family: var(--font-family-sans);
    font-size: 34px;
    line-height: var(--line-height);
    color: var(--white);
    z-index: 99;

}

.email-wrapper .email-title>p {
    font-family: var(--font-family-sans);
    font-size: var(--average-fs);
    line-height: var(--line-height);
    color: var(--white);
    z-index: 99;
}

.email-title {
    height: 100%;
    padding-top: 15px;
    justify-content: space-evenly;
    z-index: 99;
}

.email-title>div {
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#text {
    z-index: 99;
    font-size: 20px;
}

#form input {
    width: 100%;
    padding: 16px 241px 18px 30px;
    border: 2px solid var(--white);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.03);
}

::placeholder {
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: 500px;
    line-height: var(--line-height);
    color: var(--white);
}

.email-title div>button {
    font-family: var(--font-family-sans);
    font-size: 16px;
    color: #08aeea;
    background: var(--white);
    border-radius: 25px;
    border: 2px solid var(--white);
    padding: 16px 33px 14px 33px;
    cursor: pointer;
}


.email-title div>button:hover {
    color: var(--white);
    background: linear-gradient(-1deg,
            #08aeea 0.00%,
            #2af598 100.00%);
}

.post-card {
    width: 368px;
    height: 409px;
    background: #F4F4F4;
}

.profile {
    gap: 18px;
    padding-top: 54px;
}

.traveler-name {
    font-family: var(--font-family-weight);
    font-size: var(--average-fs);
    line-height: var(--line-height);
    color: #4b54fa;
}

.travelers-posts-wrapper .post-card>p {
    font-family: var(--font-family-weight);
    font-size: 16px;
    line-height: var(--small-line-height);
    color: var(--dark-grey);
    padding: 37px 35px 64px 36px;
}

.travelers-posts-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.book-tour-wrapper {
    background-image: url(../images/main-img/forest.png);
    height: 80vh;
    background-size: cover;
    justify-content: flex-end;
    gap: 49px;
    padding-bottom: 51px;
}

.book-tour-wrapper>h2 {
    font-family: var(--font-family-weight);
    font-size: 36px;
    line-height: var(--line-height);
    color: var(--white);
    text-transform: capitalize;
}

.book-tour-wrapper a>button {
    font-family: var(--font-family-weight);
    font-size: 16px;
    line-height: var(--line-height);
    color: var(--white);
    border-radius: 25px;
    text-transform: uppercase;
    padding: 16px 40px 14px 39px;
    background: linear-gradient(-1deg,
            #08aeea 0.00%,
            #2af598 100.00%);
    cursor: pointer;
}

.book-tour-wrapper a>button:hover {
    filter: drop-shadow(2px 4px 6px #08aeea);
    color: #08aeea;
    background: var(--white);
}

.popular-countries-card {
    position: relative;
}

.country-content {
    width: 100%;
    position: absolute;
    bottom: 6%;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.country-content>button {
    background: linear-gradient(-5deg,
            #08aeea 0.00%,
            #2af598 100.00%);
    padding: 14px 10px 13px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.country-content>button:hover {
    filter: brightness(1.2);
    background: hwb(153 11% 19%);
}

.country-price>h3 {
    font-family: var(--font-family-weight);
    font-size: 30px;
    line-height: var(--line-height);
    color: var(--white);
}

.country-price>span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: var(--line-height);
    color: var(--white);
}

.popular-countries-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 28px;
    margin-bottom: 79px;
}

.popular-countries-card>img {
    filter: drop-shadow(5px 2px 11px black) invert(20%);
}

iframe {
    width: 100%;
}

#scroll-top-btn {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-size: var(--average-fs);
    background-color: #bce4da;
    cursor: pointer;
    padding: 10px;
    border-radius: 16px;
}

#scroll-top-btn>img {
    width: 30px;
}

#scroll-top-btn:hover {
    filter: drop-shadow(2px 4px 6px rgb(3, 91, 94));
}

footer {
    background: var(--dark-grey);
}

.footer-card>h6 {
    font-family: var(--font-family-sans);
    font-size: 20px;
    font-weight: var(--font-family-weight);
    line-height: 40px;
    color: var(--white);
}

.footer-wrapper-left .footer-card ul li>a {
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: var(--font-family-weight);
    line-height: 40px;
    color: #dcdbdb;

}

.footer-form>input {
    padding: 13px 180px 14px 16px;
    border: 3px solid #08aeea;
    background: #f0f1f3
}

::placeholder {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 34px;
    color: #353030;
    font-family: 'Roboto', sans-serif;
}

.footer-form {
    display: flex;
}

.footer-wrapper-right>p {
    font-family: 'Roboto', sans-serif;
    font-size: var(--small-fs);
    line-height: 34px;
    color: var(--white);
}

.footer-wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-wrapper-left {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 54px 50px;
}

.footer-form div>img {
    background: linear-gradient(-5deg,
            #08aeea 0.00%,
            #2af598 100.00%);
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #DCDBDB;
}

.footer-bottom>p {
    font-family: var(--font-family-weight);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #DCDBDB;
    text-align: center;
    padding: 22px 22px;
}